* {
 
}

.container-fluid{
}

.wi{
  font-size: 5em;
  color: darkorange;
}

div img{
  min-width: 120px;
}

main{
	
}

body{
  padding-top: 100px;
}

.center {
	text-align: center;
}

button {
	margin: 0;
	max-width: calc( 20% - 5px );
}

.form-control {
	margin: 0;
	width: 100%;
	max-width: 100%;
}

@media (min-width: 600px) {
  .form-control {
    min-width: calc( 75% - 10px );
  }
}
